<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Here are your news</h1>

    <table border="solid" width="100%">
        <tr>
            <th>News Article</th>
            <th>News Link</th>
            <th>News Image</th>
        </tr>

        <tr th:each="i : ${country}">
            <td data-th-text="${i.title}"></td>
            <td><img data-th-src="${i.urlToImage}" width="300px"></td>
            <td><a data-th-href="${i.url}">Link</a></td>
        </tr>
    </table>
    
</body>
</html>